<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello Vue</title>
    <link rel="stylesheet" href="style.css">
    <style>
        [v-cloak]{
            display:none
        }
    </style>
</head>
<body>

<div class="container pt-5" id="app" v-cloak>
    <div class="card center">
        <div v-html="myHtml"></div>
        <h1 v-text="title"></h1>
        <h2 v-once>{{title}}</h2>
        <h2 v-pre>{{title}}</h2>
        <ul class="list" v-if="items.length ">
            <li class="list-item" v-for="item in items" @click="items.splice(i, 1)" :key="item">
                {{item}}&nbsp;
                <input type="text" @click.stop>
            </li>

<!--            <li class="list-item" v-for="(value, key) in person">-->
<!--                <b>{{key}}</b>  {{value}}-->
<!--            </li>-->
        </ul>
        <h3 v-show="items.length === 0">Элементов нет</h3>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>
</html>